body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    position: relative;
    max-width: 900px; /* Adjust max-width as needed */
    margin-top: 50px; /* Adjust margin-top as needed */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #093f80;
}

.logo {
    position: absolute;
    top:  -50px; /* Adjust position as needed */
    left: 10px;
    width: 100%; /* Adjust size as needed */
    max-width: 200px;
    z-index: 1; /* Ensure logo stays above other content */
}

h1 {
    color: #33adff;
    margin-top: 140px; /* Adjust margin-top as needed */
    z-index: 0; /* Ensure heading stays behind logo */
}
.input-group {
    margin-bottom: 20px; /* Add space between input groups */
    color: White;
}

input {
    padding: 10px;
    width: calc(100% - 20px); /* Adjust input width to accommodate padding */
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: White;
    font-weight: bold;
}
.bottom-image-container {
    position: relative;
    margin-top: 20px; /* Adjust margin-top as needed */
    text-align: center; /* Center align the image */
}

.bottom-image {
    width: 100%; /* Ensure the image spans the entire width */
    max-width: 620px; /* Limit the maximum width of the image */
    display: block; /* Ensures the image is displayed as a block element */
    margin: 0 auto; /* Centers the image horizontally */
}
